* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --cor00: #0866ff;
  --cor01: #0c70f2;
  --cor02: #42b72a;
  --cor03: #f2f4f7;
  --cor04: #cedef2;
  --cor05: #cdcfd2;
  --hoverenter: #166fe5;
  --hovercnc: #36a420;
  --borderinput: #1877f2;
  --boxshadowfocus: #e7f3ff;
  --boxshadowcenter: rgba(0, 0, 0, 0.1);
  --placeholder: #8d949e;
}
body {
  background-color: var(--cor03);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.34;
  position: relative;
  overflow-x: hidden;
}

h1 {
  color: #0866ff;
  font-size: 56px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:700;
  margin-bottom: 30px;
 
}

main {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  flex-flow: row wrap;
  
  
}

div.center {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--boxshadowcenter),
    0 8px 16px var(--boxshadowcenter);
  height: 350px;
  width: 400px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.enter {
  background-color: var(--cor00);
  border-radius: 5px;
  text-align: center;
  color: white;
  margin-left: 9px;
  width: 360px;
  margin-top: 15px;
  cursor: pointer;
}
.enter:hover {
  background-color: var(--hoverenter);
}

.new {
  background-color: var(--cor02);
  border-radius: 5px;
  text-align: center;
  margin-left: 100px;
  width: 165px;
  margin-top: 10px;
}
input::placeholder {
  color: var(--placeholder);
  font-size: 17px;
  opacity: 1;
}

input {
  border-radius: 5px;
  outline: none;
  border: 2px solid var(--cor03);
  padding-left: 15px;
  height: 50px;
  width: 360px;
  margin-right: 10px;
}

input:focus-visible {
  border: 1px solid #5c9afe;
  border-color: var(--borderinput);
  box-shadow: 0 0 0 2px var(--boxshadowfocus);
}

.emailtel {
  padding: 10px;
}

.senha {
  padding: 10px;
}

.link:hover {
  text-decoration: none;
}
button {
  width: 100%;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 360px;
  color: white;
  font-size: 20px;
  font-weight: bolder;
}

.cnc {
  background-color: var(--cor02);
  width: 100%;
  font-size: 15px;
}
.cnc:hover {
  background-color: var(--hovercnc);
}

.center {
  width: 400px;
  height: 350px;
  display: flex;
  flex-flow: column;
  justify-content: center;

  border-radius: px;
}

.txt {
  font-weight: bold;
 position: fixed;
  font-size: 0px;
  text-align: left;
  
}

.forgot {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 14px;
  margin-left: 10px;
}
.cima {
  display: flex;
  flex-flow: column wrap;
  width: 400px;
  height: 350px;
  justify-content: center;
  margin-right: 80px;
  margin-bottom: 250px;
  
}

form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  
}

.criar {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin-top: 30px;
}
.criar > pre > a {
  color: black;
  font-weight: bolder;
}

.cima > pre {
  font-size: 25px;
  width: 400px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 28px;
  font-weight:lighter;
}

.link {
  color: #0866ff;
  font-weight: normal;
  line-height: 1.34;
}
.link a {
  font-weight: bold;
}

@media (max-width: 900px){
 main {
   flex-flow: column nowrap;
   justify-content: center;
 }

 .cima{
  margin-left: 100px;
  margin-bottom: 150px;

 }
 h1{
  margin-left: 30px;
 }
 
}
  
